{% load static %}

<link rel="stylesheet" href="{% static 'main/css/main.css' %}">

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">{% include 'calendar_icon.html' %}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% with app_name=request.resolver_match.app_name url_name=request.resolver_match.url_name %}
          <li class="nav-item">
            <a class="nav-link {% if app_name == 'main' and url_name == 'main' %}active custom_li{% endif %}" href="{% url 'main:main' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if app_name == 'main' and url_name == 'create_item' %}active custom_li{% endif %}" href="{% url 'main:create_item' %}">Add a Task</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Item by AJAX</a>
          </li>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li> -->
          {% endwith %}
        </ul>
        <a href="{% url 'main:logout' %}">
          <button type="button" class="btn btn-outline-primary">Logout</button>
        </a>
      </div>
    </div>
  </nav>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Item</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form" onsubmit="return false;">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="name" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="name" name="name"></input>
                    </div>
                    <div class="mb-3">
                        <label for="page" class="col-form-label">Amount:</label>
                        <input type="number" class="form-control" id="amount" name="amount"></input>
                    </div>
                    <div class="mb-3">
                      <label for="page" class="col-form-label">Deadline:</label>
                      <input type="datetime-local" class="form-control" id="deadline" name="deadline"></input>
                  </div>
                    <div class="mb-3">
                        <label for="description" class="col-form-label">Description:</label>
                        <textarea class="form-control" id="description" name="description"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Item</button>
            </div>
        </div>
    </div>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
        // Assign addBook function to the click event of "Add Book" button
        document.getElementById("button_add").addEventListener("click", addItem);
    });

    function addItem() {
        fetch("{% url 'main:create_item_ajax' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
        }).then(() => {
            // Reset the form fields
            document.getElementById("form").reset();

            // Close the modal
            var modal = document.getElementById("exampleModal");
            var modalInstance = bootstrap.Modal.getInstance(modal);
            modalInstance.hide();

            // Reload the page
            location.reload();
        }).catch(error => {
            console.error('Error adding item:', error);
        });
        return false; // Prevent default form submission
    }
</script>