{% extends "base_template.html" %}

{% block title %}
Tugas Tracker
{% endblock title %}

{%block content %}
<h2>App Name: {{identifier.app_name}}</h2>
<h3>Name: {{identifier.name}}</h3>
<h4>Class: {{identifier.class}}</h4>
<h5>Sesi terakhir login:{{identifier.last_login}}</h5>

<table>
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th>Description</th>
      <th>Date Added</th>
    </tr>
  
    {% for item in items %}
    <tr>
      <td>{{item.name}}</td>
      <td>{{item.amount}}</td>
      <td>{{item.description}}</td>
      <td>{{item.date_added}}</td>
      <td>{{item.deadline}}</td>
    </tr>
    {% endfor %}
  </table>
  
  <br />
  
  <a href="{% url 'main:create_item' %}">
    <button>Add New Item</button>
  </a>

  <a href="{% url 'main:logout' %}">
    <button>Logout</button>
  </a>

{% endblock content %}