{% extends "base_template.html" %}

{% block title %}
Tugas Tracker
{% endblock title %}

{% block head %}
<style>
th, td {
  padding: 5px;
  border-color: black;
  border-radius: 3px;
  border-style: double;
}
</style>
{% endblock head%}

{%block content %}
<h2>App Name: {{identifier.app_name}}</h2>
<h3>Name: {{identifier.name}}</h3>
<h4>Class: {{identifier.class}}</h4>
<h5>Sesi terakhir login:{{identifier.last_login}}</h5>

<div class="card-box">
  {% for item in items %}
  <div class="card">
    <div class="card-content">
      <h5 class="card-title">Name: {{item.name}}</h1> 
      <h5 class="card-page">Page: {{item.amount}}</h4>
      <h5>Date Added: {{item.date_added}}</h5>
      <h5>Deadline: {{item.deadline}}</h5>
      <p class="card-description">Description: {{item.description}}</p>
      <div class="card-buttons-place">
        <div class="card-buttons">
          <a href="{% url 'main:edit_item' item.pk %}">
            <button type="button" class="btn btn-primary">
              Edit
            </button>
          </a>
        </div>
        <div class="card-buttons">
          <a href="{% url 'main:delete_item' item.pk %}">
            <button type="button" class="btn btn-danger">
              Delete
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}

{% endblock content %}