{% extends "base_template.html" %}

{% load static %}

{% block title %}
Tugas Tracker
{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'main/css/main.css' %}">
{% endblock head %}

{%block content %}
<h2>App Name: {{identifier.app_name}}</h2>
<h3>Name: {{identifier.name}}</h3>
<h4>Class: {{identifier.class}}</h4>
<h5>Sesi terakhir login:{{identifier.last_login}}</h5>

<div class="card-box">
</div>

<script>
  async function getItems() {
    let url = "{% url 'main:show_json' %}"
    const res = await fetch(url)
    return await res.json()
  }

  async function updateItems(){
    let url = "{% url 'main:show_json' %}"
    const res = await fetch(url)
    document.querySelector(".card-box").innerHTML = await refreshItems()
  }
  
  async function refreshItems() {
    const items = await getItems()
    let htmlString = ""
    items.forEach((item) => {
      const editUrl = `{% url 'main:edit_item' 0 %}`.replace('0', item.pk);
      const deleteUrl = `{% url 'main:delete_item' 0 %}`.replace('0', item.pk);
      htmlString += `
      <div class="card">
        <div class="card-content">
          <h5 class="card-title">Name: ${item.fields.name}</h1> 
          <h5 class="card-page">Page: ${item.fields.amount}</h4>
          <h5>Date Added: ${item.fields.date_added}</h5>
          <h5>Deadline: ${item.fields.deadline}</h5>
          <p class="card-description">Description: ${item.fields.description}</p>
          <div class="card-buttons-place">
            <div class="card-buttons">
              <a href="${editUrl}">
                <button type="button" class="btn btn-primary">
                  Edit
                </button>
              </a>
            </div>
            <div class="card-buttons">
              <a href="${deleteUrl}">
                <button type="button" class="btn btn-danger">
                  Delete
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>` 
    })
    return htmlString;
  }
  document.addEventListener("DOMContentLoaded", async function() {
    document.querySelector(".card-box").innerHTML = await refreshItems();
  });
  </script>

{% endblock content %}